* {
    box-sizing: border-box;
    outline: none;
}

html {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


b,
strong {
    font-weight: bold;
}


.font-small {
    font-size: 80%;
}

.font-large {
    font-size: 80%;
}

img {
    border-style: none;
    display: block;
    max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1;
    margin: 0;
    padding: 0;
}

button,
input {
    overflow: visible;
    /*    background: none;*/
    /*    border: none;*/
}

button,
select {
    text-transform: none;
    background: none;
    border: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
    resize: none;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

[hidden] {
    display: none;
}
