@import '../css/partials/_var';
@import '../css/partials/_mixin';
@import '../css/partials/_general';
@import '../css/partials/_keyframes';
@import '../css/partials/_menu';

body {
    font: 18px $raleway;
    color: #000;
    overflow: hidden;
    min-height: 100vh;

    @include respond-to($tablet-portrait) {
        overflow: visible;
        min-height: auto;
    }

    &.active {
        background: rgba(0, 0, 0, .3);
        overflow: hidden;
    }
}

.scrollbar-track {
    display: none !important;
}

#logo {
    max-width: 360px;
}

.all {
    min-height: 100vh;
    min-width: 100vh;
    overflow: scroll;
}

.main {
    position: relative;
    left: $menuWidth;
    width: max-content;
    height: 100%;

    @include respond-to($tablet-portrait) {
        height: auto;
        width: 100%;
        left: 0;
    }
}

.wrapper .page {
    width: calc(100vw - #{$menuWidth});
    flex: 0 0 calc(100vw - #{$menuWidth});
    height: 100vh;
    position: relative;
    float: left;

    @include respond-to($tablet-portrait) {
        float: none;
        height: auto;
        width: 100%;
        flex: 0 0 100%;
    }
}

::-webkit-scrollbar {
    display: none;
}

.action {
    position: fixed;
    bottom: 2vh;
    right: 2%;
    z-index: 80;
    cursor: pointer;

    .scissors {
        position: absolute;
        top: 0;
        left: -28px;
        z-index: -1;
        animation: rotateScissor 2s infinite ease-in-out;
    }

    @include respond-to($phone) {
        width: 180px;
    }
}

.wrapper .mainPage {
    background-image: url(../images/main_background.jpg);
    background-position: 50% 50%;
    background-size: cover;

    @include respond-to($tablet-portrait) {
        height: 100vh;
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;

        p {
            text-transform: uppercase;
            color: $brand2;
            margin-top: 50px;
        }

        h2 {
            margin: 25px 0 50px;
        }
    }

}

.block {
    @extend .flex;
}

.anim {
    opacity: 0;

    &.in-view {
        animation: textHidden .7s .3s ease both;
    }

    @include respond-to($tablet-portrait) {
        opacity: 1;
    }
}

figure {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;

    @include respond-to($tablet-portrait) {
        position: relative;
    }
}

.preload {
    display: none;

    &.active {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999999;
        width: 100%;
        height: 100%;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        @include respond-to($tablet-portrait) {
            display: none;
        }
    }
}

.aboutUs {
    padding-left: 50px;

    @include respond-to($tablet-portrait) {
        padding: 0;
    }

    .black_logo {
        max-width: 230px;

        @include respond-to($tablet-portrait) {
            margin: 30px auto;
        }
    }

    .block {
        align-items: center;

        .item {
            flex: 0 0 50%;
            width: 50%;

            @include respond-to($tablet-portrait) {
                flex: 0 0 100%;
                width: 100%;
            }
        }
    }

    .text {
        color: #000;
        padding-right: 70px;

        @include respond-to($tablet-portrait) {
            padding: 0;

            h3,
            h2 {
                display: none;
            }
        }



        p {
            margin-top: 75px;

            @include respond-to($tablet-portrait) {
                margin: 50px 15px;
            }
        }
    }

    .img {
        height: 100vh;

        @include respond-to($tablet-portrait) {
            height: auto;
        }

        figure {
            background-image: url(../images/about-us.jpg);
            background-position: 50%;
            background-size: cover;

            @include respond-to($tablet-portrait) {
                height: 450px;
            }
        }
    }
}

.imgParallax {
    position: absolute;
    background-repeat: no-repeat;
    overflow: hidden;

    @include respond-to($tablet-portrait) {
        position: relative;
    }

    img {
        position: absolute;
        width: 120%;
        height: 120%;
        object-fit: cover;
        object-position: center;
    }
}

.titleRotate {
    transform: rotate(-90deg);
    position: absolute;
    white-space: nowrap;
    left: 20%;
    top: 100%;

    @include respond-to($tablet-portrait) {
        left: 13%;
    }

    @include respond-to($tablet-portrait) {
        position: relative;
        transform: none;
        left: 0;
        top: 0;
    }
}

.three {
    background-color: #fff;
    position: relative;
    width: 1900px !important;
    flex: 0 0 1900px !important;

    @include respond-to($tablet-portrait) {
        width: auto !important;
        flex: 0 0 auto !important;
    }

    .additionalHeader {
        position: absolute;
        top: 1vh;
        left: 1vw;
        z-index: 100;

        @include respond-to($tablet-portrait) {
            position: relative;
            top: 0;
            left: 0;
            margin: 50px 0;
        }
    }

    .photo-1 {
        bottom: 0;
        left: 15%;
        background-image: url(../images/photo1.jpg);
        // height: 190px;
        // width: 320px;
        height: 32vh;
        width: 23vw;
        z-index: 10;

        @include respond-to($interval-back) {
            height: 35vh;
            width: 23vw;
        }

        @include respond-to($tablet-portrait) {
            left: 0;
            width: 100%;
            background-size: 90%;
            background-position: center;
        }
    }

    .photo-2 {
        bottom: 10%;
        left: 25%;
        height: 50vh;
        width: 30vw;
        position: absolute;

        @include respond-to($interval-back) {}

        @include respond-to($tablet-portrait) {
            width: 100%;
            left: 0;
            bottom: 0;
            position: relative;
            height: auto;
        }
    }

    .photo-3 {
        bottom: 0;
        right: 400px;
        background-image: url(../images/photo3.jpg);
        height: 90vh;
        width: 40vw;

        @include respond-to($tablet-portrait) {
            right: 0;
            height: 400px;
            width: 100%;
            background-size: cover;
            background-position: center;
            margin: 20px 0;
        }
    }

    .labelSection {
        position: absolute;
        bottom: 0;
        right: 0;

        @include respond-to($tablet-portrait) {
            position: relative;
        }

        .block {
            background: #333;
            height: 220px;
            color: #fff;
            justify-content: center;
        }
    }

    #photo-4 {
        width: 400px;

        video {
            position: relative;
            top: 5px;
        }

        @include respond-to($phone) {
            width: 100%;
        }
    }
}

video {
    width: 100%;
}

.four {
    margin-left: 50px;

    @include respond-to($tablet-portrait) {
        margin: 0;
    }

    .photo-5 {
        position: relative;
        background-image: url(../images/photo4.jpg);
        height: 190px;
        width: 370px;

        @include respond-to($tablet-portrait) {
            width: 100%;
            height: 350px;
            background-size: cover;
        }
    }

    .text {
        max-width: 370px;

        @include respond-to($tablet-portrait) {
            max-width: calc(100% - 30px);
            margin: auto;
        }
    }

    .textFirst {
        position: absolute;
        top: 0vh;
        left: 0;

        @include respond-to($tablet-portrait) {
            position: relative;
        }
    }

    .photo-6 {
        position: relative;
        background-image: url(../images/photo1.jpg);
        height: 190px;
        width: 320px;

        @include respond-to($tablet-portrait) {
            width: 100%;
            height: 250px;
            background-size: cover;
        }
    }

    .photo-7 {
        position: absolute;
        top: -180px;
        left: 130px;
        z-index: -1;
        background-image: url(../images/photo2.jpg);
        height: 300px;
        width: 320px;

        @include respond-to($tablet-portrait) {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            background-size: cover;
        }
    }

    .blockImgText {
        .text {
            margin-top: 10px;

            @include respond-to($tablet-portrait) {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }

    .textSecond {
        position: absolute;
        top: 10vh;
        left: 60%;

        @include respond-to($tablet-portrait) {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 30px;
        }
    }
}


.wrapper .servicesBlock {
    padding-left: 50px;
    display: flex;
    width: auto;
    flex: none;
    margin-right: 80px;

    @include respond-to($tablet-portrait) {
        margin: 0;
        padding: 0;
        display: block;
    }

    .titleBlock {
        width: 210px;
        height: 100vh;
        background: #333;
        @extend .flex;
        justify-content: center;

        @include respond-to($tablet-portrait) {
            height: 200px;
            width: 100%;
        }

        @include respond-to($phone) {
            height: auto;
        }

        .servicesTitle {
            color: #fff;
            transform: rotateZ(-90deg);
            white-space: nowrap;
            @extend .h1;
            letter-spacing: normal;
            text-transform: uppercase;

            @include respond-to($full-desktop) {
                // font-size: 
            }

            @include respond-to($interval-back) {
                font-size: 4.111em;
            }

            @include respond-to($tablet-portrait) {
                transform: none;
                white-space: normal;
                font-size: 5.111em;
            }

            @include respond-to($phone) {
                font-size: 2em;
            }
        }
    }

    .block {
        align-items: center;
        height: 100%;

        &::before {
            content: '';
            background: #fff;
            width: 1302px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        @include respond-to($tablet-portrait) {
            height: auto;
            margin-top: 30px;
            flex-flow: row wrap;
        }

        @include respond-to($phone) {
            flex-flow: column wrap;
        }

        .item {
            height: 100vh;
            max-height: 100vh;
            width: 504px;
            border-left: 1px solid #DEDEDE;
            // margin-left: 80px;
            padding: 10vh 65px;
            @extend .flexCol;
            justify-content: space-between;
            background: #333;
            color: #fff;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                background: #fff;
                color: #333;
            }

            @include respond-to($from800to480) {
                // height: 95vh;
            }

            @include respond-to($tablet-portrait) {
                height: auto;
                width: calc(45% - 30px);
                margin: 0 auto 70px;
                padding: 0;
                border: 0;
                background: #fff;
                color: #333;
            }

            @include respond-to($phone) {
                width: calc(100% - 30px);

            }
        }

        .textWrapper {
            .title {
                margin-bottom: 55px;

                @include respond-to($tablet-portrait) {
                    margin-bottom: 35px;
                }
            }
        }

        .price {
            @extend .h3;
            font-size: 1.222em;
        }

        .imgWrapper {
            // height: 40%;
            text-align: right;
            max-height: 300px;
            overflow: hidden;

            img {
                width: 100%;

            }
        }
    }
}

.wrapper .team {
    flex: none;
    width: auto;
    margin-right: 80px;
    display: flex;
    align-items: center;

    @include respond-to($tablet-portrait) {
        margin: 0;
        display: block;
    }

    .titleBlock {
        @extend .bigTitle;
        text-transform: uppercase;
        max-width: 940px;
        color: #333;
        position: relative;
    }

    .block {
        align-items: center;
        height: 100%;

        @include respond-to($tablet-portrait) {
            align-items: flex-start;
            flex-flow: row wrap;
        }

        @include respond-to($phone) {
            margin-top: 20px;
            flex-flow: column;
        }

        .item {
            height: 70vh;
            width: 320px;
            margin-left: 115px;
            @extend .flexCol;
            justify-content: flex-start;

            @include respond-to($interval-back) {
                height: 90vh;
            }

            @include respond-to($full-desktop) {
                height: 80vh;
                width: 25vw;
            }

            @include respond-to($from800to480) {
                height: 90vh;
            }

            @include respond-to($tablet-portrait) {
                height: auto;
                width: calc(45% - 30px);
                margin: 0 auto 50px;
            }

            @include respond-to($phone) {
                width: calc(100% - 30px);
            }

            .name {
                position: absolute;
                left: -40px;
                top: 20px;
                text-transform: uppercase;

                @include respond-to($tablet-portrait) {
                    position: relative;
                    left: 0;
                    top: 0;

                    text-align: center;
                    margin: 20px 0 10px;
                }
            }

            .imgWrapper {
                position: relative;

                @include respond-to($full-desktop) {
                    width: 100%;
                }

                @include respond-to($from800to480) {
                    height: 50vh;
                }

                @include respond-to($tablet-portrait) {
                    width: 100%;
                    height: auto;
                }


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;

                    @include respond-to($tablet-portrait) {
                        height: auto;
                    }
                }
            }

            .textWrapper {
                margin-top: 40px;

                @include respond-to($tablet-portrait) {
                    margin-top: 10px;
                }
            }
        }
    }

    #razor {
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        left: 60%;

        @include respond-to($tablet-portrait) {
            display: none;
        }
    }
}

.wrapper .seven {
    display: flex;
    flex-flow: row;
    width: auto;

    @include respond-to($tablet-portrait) {
        display: block;
    }

    .titleRotate {
        left: -10%;


        @include respond-to($tablet-portrait) {
            left: 0;
            margin-bottom: 30px;
        }
    }

    .photo-8 {
        position: relative;
        margin-left: 330px;
        background-image: url(../images/photo6.jpg);
        height: 90vh;
        width: 550px;
        flex: 0 0 550px;
        margin-top: auto;
        margin-bottom: auto;

        @include respond-to($tablet-portrait) {
            width: 100%;
            flex: 0 0 100%;
            margin: 0;
            height: 850px;
            background-size: cover;
            background-position: center;
        }

        @include respond-to($phone) {
            height: 550px;
        }
    }

    .priceBlock {
        min-width: 580px;
        width: 580px;
        margin-left: 100px;
        margin-top: 12vh;

        @include respond-to($tablet-portrait) {
            width: calc(100% - 30px);
            min-width: calc(100% - 30px);
            margin: 20px auto 0;
        }

        .item {
            @extend .flex;
            justify-content: space-between;

            @include respond-to($tablet-portrait) {
                flex-flow: row;
                margin-bottom: 15px;
            }

            p {
                @extend .h3;
                font-size: 1.111em;

                @include respond-to($tablet-portrait) {
                    line-height: 36px;
                }
            }

            .name {
                text-transform: uppercase;

                @include respond-to($tablet-portrait) {
                    max-width: 75%;
                }
            }

            .price {
                font-size: 1.222em;
            }
        }
    }
}

.wrapper .contact {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 100px 0 -70px;
    width: auto;

    @include respond-to($tablet-portrait) {
        margin: 30px 0 0;
    }

    #contact {
        @include respond-to($tablet-portrait) {
            order: 1;
        }
    }

    .infoBlock {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        width: 1075px;

        @include respond-to($tablet-portrait) {
            height: auto;
            width: 100%;
            flex-flow: row wrap;
            order: 2;

            .map {
                width: 100%;
            }

            iframe {
                width: 100%;
            }
        }
    }

    .info {
        font-size: 0.889em;
        display: flex;
        flex-flow: column;
        width: 210px;
        flex: 0 0 210px;

        @include respond-to($tablet-portrait) {
            width: 70%;
            margin-left: 15px;
        }

        h3 {
            font-size: inherit;
            text-transform: uppercase;
            margin-bottom: 15px;
            line-height: 30px;
        }
    }

    .social {
        @extend .flexCol;
        width: auto;

        @include respond-to($tablet-portrait) {
            margin-right: 15px;
        }

        a {
            margin-bottom: 30px;
        }
    }
}