@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");
.h1, h1, .wrapper .servicesBlock .titleBlock .servicesTitle {
  font: 5.111em/100px "Playfair Display";
  letter-spacing: 25px; }
  @media screen and (max-width: 1025px) {
    .h1, h1, .wrapper .servicesBlock .titleBlock .servicesTitle {
      font-size: 4em;
      letter-spacing: 10px; } }

.h2, h2 {
  font: 1.222em/33px "Dancing Script";
  letter-spacing: 1px; }

.h3, h3, .wrapper .servicesBlock .block .price, .wrapper .seven .priceBlock .item p {
  font: 2.333em/52px "Playfair Display"; }

.h4, h4 {
  font: 2.333em/32px "Dancing Script"; }

.mediumBody, p {
  font: 0.889em/24px "Montserrat"; }

.bigTitle, .wrapper .team .titleBlock {
  font: 157px "Lora";
  text-transform: uppercase;
  letter-spacing: 25px;
  color: #494949; }
  @media screen and (max-width: 1025px) {
    .bigTitle, .wrapper .team .titleBlock {
      font-size: 97px;
      text-align: center; } }
  @media screen and (min-width: 320px) and (max-width: 667px) {
    .bigTitle, .wrapper .team .titleBlock {
      font-size: 46px;
      letter-spacing: 7px; } }

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

input[type=submit], textarea[type=submit] {
  cursor: pointer;
  box-shadow: none; }

textarea {
  height: 100px;
  padding: 20px; }

.container {
  width: 73.125rem;
  margin: auto;
  position: relative; }
  @media screen and (max-width: 1200px) {
    .container {
      width: auto;
      margin: 0 15px; } }
  @media screen and (max-width: 1025px) {
    .container {
      width: auto;
      margin: 0 15px; } }

.flex, .social, .menuList .navigation li, .menuList .navigation a, .block, .wrapper .servicesBlock .titleBlock, .wrapper .seven .priceBlock .item {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%; }
  @media screen and (max-width: 1025px) {
    .flex, .social, .menuList .navigation li, .menuList .navigation a, .block, .wrapper .servicesBlock .titleBlock, .wrapper .seven .priceBlock .item {
      flex-flow: column wrap; } }

.flexCol, .wrapper .servicesBlock .block .item, .wrapper .team .block .item, .wrapper .contact .social {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }

@media screen and (max-width: 1025px) {
  .social {
    flex-flow: row;
    justify-content: center; } }
.social li {
  margin: 0 2px; }
.social a {
  display: block; }
  .social a img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .social a:hover img {
    transform: translateY(-3px); }

.shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

@keyframes rotate {
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }
@keyframes rotateScissor {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  20% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  40% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  50% {
    -webkit-transform: rotateZ(25deg);
    transform: rotateZ(25deg); }
  55% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  60% {
    -webkit-transform: rotateZ(25deg);
    transform: rotateZ(25deg); }
  80% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); } }
@keyframes lineAnimation {
  0% {
    height: 0; }
  100% {
    height: 100%; } }
@keyframes revealAnimation {
  0% {
    width: 0;
    left: 0; }
  63% {
    width: 100%;
    left: 0; }
  100% {
    width: 0;
    left: 100%; } }
@keyframes textHidden {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
.menuBtn {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 105px;
  height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .menuBtn.active {
    background: none; }
    .menuBtn.active .burgerMenu span {
      background-color: #fff; }
  @media screen and (max-width: 1025px) {
    .menuBtn {
      width: 100%;
      height: 60px;
      justify-content: flex-end; } }
  .menuBtn .burgerMenu {
    width: 30px;
    height: 16px;
    position: relative;
    cursor: pointer;
    z-index: 9999999;
    display: block; }
    @media screen and (max-width: 1025px) {
      .menuBtn .burgerMenu {
        margin-right: 15px; } }
    .menuBtn .burgerMenu span {
      width: 100%;
      height: 2px;
      border-radius: 3px;
      background-color: #000;
      display: block;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .menuBtn .burgerMenu span:nth-child(1) {
        position: absolute;
        right: 0;
        top: 0; }
      .menuBtn .burgerMenu span:nth-child(2) {
        position: absolute;
        right: 0;
        top: 8px; }
      .menuBtn .burgerMenu span:nth-child(3) {
        position: absolute;
        right: 0;
        top: 16px; }
    .menuBtn .burgerMenu.click span:nth-child(1) {
      top: 50%;
      transform: rotate(-45deg); }
    .menuBtn .burgerMenu.click span:nth-child(3) {
      top: 50%;
      transform: rotate(45deg); }
    .menuBtn .burgerMenu.click span:nth-child(2) {
      opacity: 0; }

.menuList {
  position: fixed;
  left: -100%;
  top: 0;
  z-index: 90;
  width: 100vw;
  height: 100vh;
  background: #131316;
  transition: all .3s ease-in-out;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 1025px) {
    .menuList {
      width: 100%; } }
  .menuList.open {
    left: 0;
    opacity: 1; }
  .menuList::before {
    content: '';
    background-image: url(../images/razor.png);
    position: absolute;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    top: -10%;
    left: 5%;
    transform: rotate(-24deg);
    opacity: .3; }
  .menuList::after {
    content: '';
    background-image: url(../images/bottle.png);
    position: absolute;
    width: 415px;
    height: 310px;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 7%; }
  .menuList .text {
    color: #fff;
    position: absolute;
    top: 10%;
    text-align: center; }
  .menuList .block {
    justify-content: center; }
  .menuList .navigation {
    display: flex;
    justify-content: space-around;
    width: 80%; }
    @media screen and (max-width: 1025px) {
      .menuList .navigation {
        flex-flow: column;
        position: relative;
        z-index: 100; } }
    .menuList .navigation li {
      position: relative;
      width: auto;
      justify-content: center; }
    .menuList .navigation a {
      font: 1.222em "Playfair Display";
      color: #fff;
      padding: 0 25px; }
      @media screen and (max-width: 1200px) {
        .menuList .navigation a {
          padding: 0 15px; } }
      @media screen and (max-width: 1025px) {
        .menuList .navigation a {
          margin: 0 0 1em; } }
      .menuList .navigation a:hover {
        opacity: .7; }
    @media screen and (max-width: 1025px) {
      .menuList .navigation {
        height: auto; }
        .menuList .navigation li {
          display: flex;
          justify-content: center;
          width: 100%;
          height: auto; }
          .menuList .navigation li a {
            height: auto;
            padding: 10px 25px; } }

body {
  font: 18px "Montserrat";
  color: #000;
  overflow: hidden;
  min-height: 100vh; }
  @media screen and (max-width: 1025px) {
    body {
      overflow: visible;
      min-height: auto; } }
  body.active {
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden; }

.scrollbar-track {
  display: none !important; }

#logo {
  max-width: 360px; }

.all {
  min-height: 100vh;
  min-width: 100vh;
  overflow: scroll; }

.main {
  position: relative;
  left: 105px;
  width: max-content;
  height: 100%; }
  @media screen and (max-width: 1025px) {
    .main {
      height: auto;
      width: 100%;
      left: 0; } }

.wrapper .page {
  width: calc(100vw - 105px);
  flex: 0 0 calc(100vw - 105px);
  height: 100vh;
  position: relative;
  float: left; }
  @media screen and (max-width: 1025px) {
    .wrapper .page {
      float: none;
      height: auto;
      width: 100%;
      flex: 0 0 100%; } }

::-webkit-scrollbar {
  display: none; }

.action {
  position: fixed;
  bottom: 2vh;
  right: 2%;
  z-index: 80;
  cursor: pointer; }
  .action .scissors {
    position: absolute;
    top: 0;
    left: -28px;
    z-index: -1;
    animation: rotateScissor 2s infinite ease-in-out; }
  @media screen and (min-width: 320px) and (max-width: 667px) {
    .action {
      width: 180px; } }

.wrapper .mainPage {
  background-image: url(../images/main_background.jpg);
  background-position: 50% 50%;
  background-size: cover; }
  @media screen and (max-width: 1025px) {
    .wrapper .mainPage {
      height: 100vh; } }
  .wrapper .mainPage .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center; }
    .wrapper .mainPage .logo p {
      text-transform: uppercase;
      color: #B5B5B5;
      margin-top: 50px; }
    .wrapper .mainPage .logo h2 {
      margin: 25px 0 50px; }

.anim {
  opacity: 0; }
  .anim.in-view {
    animation: textHidden .7s .3s ease both; }
  @media screen and (max-width: 1025px) {
    .anim {
      opacity: 1; } }

figure {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0; }
  @media screen and (max-width: 1025px) {
    figure {
      position: relative; } }

.preload {
  display: none; }
  .preload.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 1025px) {
      .preload.active {
        display: none; } }

.aboutUs {
  padding-left: 50px; }
  @media screen and (max-width: 1025px) {
    .aboutUs {
      padding: 0; } }
  .aboutUs .black_logo {
    max-width: 230px; }
    @media screen and (max-width: 1025px) {
      .aboutUs .black_logo {
        margin: 30px auto; } }
  .aboutUs .block {
    align-items: center; }
    .aboutUs .block .item {
      flex: 0 0 50%;
      width: 50%; }
      @media screen and (max-width: 1025px) {
        .aboutUs .block .item {
          flex: 0 0 100%;
          width: 100%; } }
  .aboutUs .text {
    color: #000;
    padding-right: 70px; }
    @media screen and (max-width: 1025px) {
      .aboutUs .text {
        padding: 0; }
        .aboutUs .text h3,
        .aboutUs .text h2 {
          display: none; } }
    .aboutUs .text p {
      margin-top: 75px; }
      @media screen and (max-width: 1025px) {
        .aboutUs .text p {
          margin: 50px 15px; } }
  .aboutUs .img {
    height: 100vh; }
    @media screen and (max-width: 1025px) {
      .aboutUs .img {
        height: auto; } }
    .aboutUs .img figure {
      background-image: url(../images/about-us.jpg);
      background-position: 50%;
      background-size: cover; }
      @media screen and (max-width: 1025px) {
        .aboutUs .img figure {
          height: 450px; } }

.imgParallax {
  position: absolute;
  background-repeat: no-repeat;
  overflow: hidden; }
  @media screen and (max-width: 1025px) {
    .imgParallax {
      position: relative; } }
  .imgParallax img {
    position: absolute;
    width: 120%;
    height: 120%;
    object-fit: cover;
    object-position: center; }

.titleRotate {
  transform: rotate(-90deg);
  position: absolute;
  white-space: nowrap;
  left: 20%;
  top: 100%; }
  @media screen and (max-width: 1025px) {
    .titleRotate {
      left: 13%; } }
  @media screen and (max-width: 1025px) {
    .titleRotate {
      position: relative;
      transform: none;
      left: 0;
      top: 0; } }

.three {
  background-color: #fff;
  position: relative;
  width: 1900px !important;
  flex: 0 0 1900px !important; }
  @media screen and (max-width: 1025px) {
    .three {
      width: auto !important;
      flex: 0 0 auto !important; } }
  .three .additionalHeader {
    position: absolute;
    top: 1vh;
    left: 1vw;
    z-index: 100; }
    @media screen and (max-width: 1025px) {
      .three .additionalHeader {
        position: relative;
        top: 0;
        left: 0;
        margin: 50px 0; } }
  .three .photo-1 {
    bottom: 0;
    left: 15%;
    background-image: url(../images/photo1.jpg);
    height: 32vh;
    width: 23vw;
    z-index: 10; }
    @media screen and (max-width: 1366px) {
      .three .photo-1 {
        height: 35vh;
        width: 23vw; } }
    @media screen and (max-width: 1025px) {
      .three .photo-1 {
        left: 0;
        width: 100%;
        background-size: 90%;
        background-position: center; } }
  .three .photo-2 {
    bottom: 10%;
    left: 25%;
    height: 50vh;
    width: 30vw;
    position: absolute; }
    @media screen and (max-width: 1025px) {
      .three .photo-2 {
        width: 100%;
        left: 0;
        bottom: 0;
        position: relative;
        height: auto; } }
  .three .photo-3 {
    bottom: 0;
    right: 400px;
    background-image: url(../images/photo3.jpg);
    height: 90vh;
    width: 40vw; }
    @media screen and (max-width: 1025px) {
      .three .photo-3 {
        right: 0;
        height: 400px;
        width: 100%;
        background-size: cover;
        background-position: center;
        margin: 20px 0; } }
  .three .labelSection {
    position: absolute;
    bottom: 0;
    right: 0; }
    @media screen and (max-width: 1025px) {
      .three .labelSection {
        position: relative; } }
    .three .labelSection .block {
      background: #333;
      height: 220px;
      color: #fff;
      justify-content: center; }
  .three #photo-4 {
    width: 400px; }
    .three #photo-4 video {
      position: relative;
      top: 5px; }
    @media screen and (min-width: 320px) and (max-width: 667px) {
      .three #photo-4 {
        width: 100%; } }

video {
  width: 100%; }

.four {
  margin-left: 50px; }
  @media screen and (max-width: 1025px) {
    .four {
      margin: 0; } }
  .four .photo-5 {
    position: relative;
    background-image: url(../images/photo4.jpg);
    height: 190px;
    width: 370px; }
    @media screen and (max-width: 1025px) {
      .four .photo-5 {
        width: 100%;
        height: 350px;
        background-size: cover; } }
  .four .text {
    max-width: 370px; }
    @media screen and (max-width: 1025px) {
      .four .text {
        max-width: calc(100% - 30px);
        margin: auto; } }
  .four .textFirst {
    position: absolute;
    top: 0vh;
    left: 0; }
    @media screen and (max-width: 1025px) {
      .four .textFirst {
        position: relative; } }
  .four .photo-6 {
    position: relative;
    background-image: url(../images/photo1.jpg);
    height: 190px;
    width: 320px; }
    @media screen and (max-width: 1025px) {
      .four .photo-6 {
        width: 100%;
        height: 250px;
        background-size: cover; } }
  .four .photo-7 {
    position: absolute;
    top: -180px;
    left: 130px;
    z-index: -1;
    background-image: url(../images/photo2.jpg);
    height: 300px;
    width: 320px; }
    @media screen and (max-width: 1025px) {
      .four .photo-7 {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background-size: cover; } }
  .four .blockImgText .text {
    margin-top: 10px; }
    @media screen and (max-width: 1025px) {
      .four .blockImgText .text {
        margin-top: 30px;
        margin-bottom: 30px; } }
  .four .textSecond {
    position: absolute;
    top: 10vh;
    left: 60%; }
    @media screen and (max-width: 1025px) {
      .four .textSecond {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 30px; } }

.wrapper .servicesBlock {
  padding-left: 50px;
  display: flex;
  width: auto;
  flex: none;
  margin-right: 80px; }
  @media screen and (max-width: 1025px) {
    .wrapper .servicesBlock {
      margin: 0;
      padding: 0;
      display: block; } }
  .wrapper .servicesBlock .titleBlock {
    width: 210px;
    height: 100vh;
    background: #333;
    justify-content: center; }
    @media screen and (max-width: 1025px) {
      .wrapper .servicesBlock .titleBlock {
        height: 200px;
        width: 100%; } }
    @media screen and (min-width: 320px) and (max-width: 667px) {
      .wrapper .servicesBlock .titleBlock {
        height: auto; } }
    .wrapper .servicesBlock .titleBlock .servicesTitle {
      color: #fff;
      transform: rotateZ(-90deg);
      white-space: nowrap;
      letter-spacing: normal;
      text-transform: uppercase; }
      @media screen and (max-width: 1366px) {
        .wrapper .servicesBlock .titleBlock .servicesTitle {
          font-size: 4.111em; } }
      @media screen and (max-width: 1025px) {
        .wrapper .servicesBlock .titleBlock .servicesTitle {
          transform: none;
          white-space: normal;
          font-size: 5.111em; } }
      @media screen and (min-width: 320px) and (max-width: 667px) {
        .wrapper .servicesBlock .titleBlock .servicesTitle {
          font-size: 2em; } }
  .wrapper .servicesBlock .block {
    align-items: center;
    height: 100%; }
    .wrapper .servicesBlock .block::before {
      content: '';
      background: #fff;
      width: 1302px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }
    @media screen and (max-width: 1025px) {
      .wrapper .servicesBlock .block {
        height: auto;
        margin-top: 30px;
        flex-flow: row wrap; } }
    @media screen and (min-width: 320px) and (max-width: 667px) {
      .wrapper .servicesBlock .block {
        flex-flow: column wrap; } }
    .wrapper .servicesBlock .block .item {
      height: 100vh;
      max-height: 100vh;
      width: 504px;
      border-left: 1px solid #DEDEDE;
      padding: 10vh 65px;
      justify-content: space-between;
      background: #333;
      color: #fff; }
      .wrapper .servicesBlock .block .item:nth-child(1), .wrapper .servicesBlock .block .item:nth-child(2), .wrapper .servicesBlock .block .item:nth-child(3) {
        background: #fff;
        color: #333; }
      @media screen and (max-width: 1025px) {
        .wrapper .servicesBlock .block .item {
          height: auto;
          width: calc(45% - 30px);
          margin: 0 auto 70px;
          padding: 0;
          border: 0;
          background: #fff;
          color: #333; } }
      @media screen and (min-width: 320px) and (max-width: 667px) {
        .wrapper .servicesBlock .block .item {
          width: calc(100% - 30px); } }
    .wrapper .servicesBlock .block .textWrapper .title {
      margin-bottom: 55px; }
      @media screen and (max-width: 1025px) {
        .wrapper .servicesBlock .block .textWrapper .title {
          margin-bottom: 35px; } }
    .wrapper .servicesBlock .block .price {
      font-size: 1.222em; }
    .wrapper .servicesBlock .block .imgWrapper {
      text-align: right;
      max-height: 300px;
      overflow: hidden; }
      .wrapper .servicesBlock .block .imgWrapper img {
        width: 100%; }

.wrapper .team {
  flex: none;
  width: auto;
  margin-right: 80px;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 1025px) {
    .wrapper .team {
      margin: 0;
      display: block; } }
  .wrapper .team .titleBlock {
    text-transform: uppercase;
    max-width: 940px;
    color: #333;
    position: relative; }
  .wrapper .team .block {
    align-items: center;
    height: 100%; }
    @media screen and (max-width: 1025px) {
      .wrapper .team .block {
        align-items: flex-start;
        flex-flow: row wrap; } }
    @media screen and (min-width: 320px) and (max-width: 667px) {
      .wrapper .team .block {
        margin-top: 20px;
        flex-flow: column; } }
    .wrapper .team .block .item {
      height: 70vh;
      width: 320px;
      margin-left: 115px;
      justify-content: flex-start; }
      @media screen and (max-width: 1366px) {
        .wrapper .team .block .item {
          height: 90vh; } }
      @media screen and (min-width: 1919px) {
        .wrapper .team .block .item {
          height: 80vh;
          width: 25vw; } }
      @media screen and (min-height: 480px) and (max-height: 700px) {
        .wrapper .team .block .item {
          height: 90vh; } }
      @media screen and (max-width: 1025px) {
        .wrapper .team .block .item {
          height: auto;
          width: calc(45% - 30px);
          margin: 0 auto 50px; } }
      @media screen and (min-width: 320px) and (max-width: 667px) {
        .wrapper .team .block .item {
          width: calc(100% - 30px); } }
      .wrapper .team .block .item .name {
        position: absolute;
        left: -40px;
        top: 20px;
        text-transform: uppercase; }
        @media screen and (max-width: 1025px) {
          .wrapper .team .block .item .name {
            position: relative;
            left: 0;
            top: 0;
            text-align: center;
            margin: 20px 0 10px; } }
      .wrapper .team .block .item .imgWrapper {
        position: relative; }
        @media screen and (min-width: 1919px) {
          .wrapper .team .block .item .imgWrapper {
            width: 100%; } }
        @media screen and (min-height: 480px) and (max-height: 700px) {
          .wrapper .team .block .item .imgWrapper {
            height: 50vh; } }
        @media screen and (max-width: 1025px) {
          .wrapper .team .block .item .imgWrapper {
            width: 100%;
            height: auto; } }
        .wrapper .team .block .item .imgWrapper img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top; }
          @media screen and (max-width: 1025px) {
            .wrapper .team .block .item .imgWrapper img {
              height: auto; } }
      .wrapper .team .block .item .textWrapper {
        margin-top: 40px; }
        @media screen and (max-width: 1025px) {
          .wrapper .team .block .item .textWrapper {
            margin-top: 10px; } }
  .wrapper .team #razor {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    left: 60%; }
    @media screen and (max-width: 1025px) {
      .wrapper .team #razor {
        display: none; } }

.wrapper .seven {
  display: flex;
  flex-flow: row;
  width: auto; }
  @media screen and (max-width: 1025px) {
    .wrapper .seven {
      display: block; } }
  .wrapper .seven .titleRotate {
    left: -10%; }
    @media screen and (max-width: 1025px) {
      .wrapper .seven .titleRotate {
        left: 0;
        margin-bottom: 30px; } }
  .wrapper .seven .photo-8 {
    position: relative;
    margin-left: 330px;
    background-image: url(../images/photo6.jpg);
    height: 90vh;
    width: 550px;
    flex: 0 0 550px;
    margin-top: auto;
    margin-bottom: auto; }
    @media screen and (max-width: 1025px) {
      .wrapper .seven .photo-8 {
        width: 100%;
        flex: 0 0 100%;
        margin: 0;
        height: 850px;
        background-size: cover;
        background-position: center; } }
    @media screen and (min-width: 320px) and (max-width: 667px) {
      .wrapper .seven .photo-8 {
        height: 550px; } }
  .wrapper .seven .priceBlock {
    min-width: 580px;
    width: 580px;
    margin-left: 100px;
    margin-top: 12vh; }
    @media screen and (max-width: 1025px) {
      .wrapper .seven .priceBlock {
        width: calc(100% - 30px);
        min-width: calc(100% - 30px);
        margin: 20px auto 0; } }
    .wrapper .seven .priceBlock .item {
      justify-content: space-between; }
      @media screen and (max-width: 1025px) {
        .wrapper .seven .priceBlock .item {
          flex-flow: row;
          margin-bottom: 15px; } }
      .wrapper .seven .priceBlock .item p {
        font-size: 1.111em; }
        @media screen and (max-width: 1025px) {
          .wrapper .seven .priceBlock .item p {
            line-height: 36px; } }
      .wrapper .seven .priceBlock .item .name {
        text-transform: uppercase; }
        @media screen and (max-width: 1025px) {
          .wrapper .seven .priceBlock .item .name {
            max-width: 75%; } }
      .wrapper .seven .priceBlock .item .price {
        font-size: 1.222em; }

.wrapper .contact {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 100px 0 -70px;
  width: auto; }
  @media screen and (max-width: 1025px) {
    .wrapper .contact {
      margin: 30px 0 0; } }
  @media screen and (max-width: 1025px) {
    .wrapper .contact #contact {
      order: 1; } }
  .wrapper .contact .infoBlock {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 1075px; }
    @media screen and (max-width: 1025px) {
      .wrapper .contact .infoBlock {
        height: auto;
        width: 100%;
        flex-flow: row wrap;
        order: 2; }
        .wrapper .contact .infoBlock .map {
          width: 100%; }
        .wrapper .contact .infoBlock iframe {
          width: 100%; } }
  .wrapper .contact .info {
    font-size: 0.889em;
    display: flex;
    flex-flow: column;
    width: 210px;
    flex: 0 0 210px; }
    @media screen and (max-width: 1025px) {
      .wrapper .contact .info {
        width: 70%;
        margin-left: 15px; } }
    .wrapper .contact .info h3 {
      font-size: inherit;
      text-transform: uppercase;
      margin-bottom: 15px;
      line-height: 30px; }
  .wrapper .contact .social {
    width: auto; }
    @media screen and (max-width: 1025px) {
      .wrapper .contact .social {
        margin-right: 15px; } }
    .wrapper .contact .social a {
      margin-bottom: 30px; }

/*# sourceMappingURL=style.css.map */
