.h1 {
    font: 5.111em/100px $playfair;
    letter-spacing: 25px;

    @include respond-to($tablet-portrait) {
        font-size: 4em;
        letter-spacing: 10px;
    }
}

.h2 {
    font: 1.222em/33px $dance;   
    letter-spacing: 1px;
}

.h3 {
    font: 2.333em/52px $playfair;
}

.h4 {
    font: 2.333em/32px $dance;
}

.mediumBody {
    font: .889em/24px $raleway;
}

.bigTitle {
    font: 157px $lora;
    text-transform: uppercase;
    letter-spacing: 25px;
    color: $second2;

    @include respond-to($tablet-portrait) {
        font-size: 97px;
        text-align: center;
    }
    @include respond-to($phone) {
        font-size: 46px;
        letter-spacing: 7px;
    }
}

p {
    @extend .mediumBody;
    
}

a {
    @include transition(.3s);
}

h1 {
    @extend .h1;
}

h2 {
    @extend .h2;
}

h3 {
    @extend .h3;
}

h4 {
    @extend .h4;
}

// label {
//     @extend .inputNotification;
// }

// i,
// em {
//     @extend .accentItalicLarge;
// }

// input {
//     @extend .mediumBody;
//     font-size: initial;
//     border-radius: 2px;
//     border: none;
//     background: #F1F1F1;
//     width: 100%;
//     max-width: 100%;
//     padding: 10px 15px 10px 45px;
//     -webkit-appearance: none;
//     // color: $black;
//     @include transition(.3s);
//     height: 55px;
//     box-shadow: 0 2px 0px 0px #757575;

//     &:focus {
//         box-shadow: 0 2px 0px 0px $brand1;
//     }

//     &::placeholder {
//         @extend .mediumBody;
//         color: #757575;
//     }
// }

input[type=submit] {
    cursor: pointer;
    // @extend .btn;
    box-shadow: none;
}

textarea {
    @extend input;
    height: 100px;
    padding: 20px;
}

.container {
    width: 73.125rem;
    margin: auto;
    position: relative;

    @include respond-to($interval) {
        width: auto;
        margin: 0 15px;
    }

    @include respond-to($tablet-portrait) {
        width: auto;
        margin: 0 15px;
    }
}

.flex {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;

    @include respond-to($tablet-portrait) {
        flex-flow: column wrap;
    }
}

.flexCol {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.social {
    @extend .flex;

    @include respond-to($tablet-portrait) {
        flex-flow: row;
        justify-content: center;
    }

    li {
        margin: 0 2px;
    }

    a {
        display: block;

        img {
            @include transition(.3s);
        }

        &:hover img {
            transform: translateY(-3px);
        }
    }
}

.shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}