@keyframes rotate {
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes rotateScissor {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    
    20% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    40% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    50% {
        -webkit-transform: rotateZ(25deg);
        transform: rotateZ(25deg);
    }
    55% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    60% {
        -webkit-transform: rotateZ(25deg);
        transform: rotateZ(25deg);
    }
    80% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
}

@keyframes lineAnimation {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

@keyframes revealAnimation {
    0% {
        width: 0;
        left: 0;
    }

    63% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes textHidden {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}