.menuBtn {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: $menuWidth;
    height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition(.3s);

    &.active {
        background: none;

        .burgerMenu span {
            background-color: #fff;
        }
    }

    @include respond-to($tablet-portrait) {
        width: 100%;
        height: 60px;
        justify-content: flex-end;
    }

    .burgerMenu {
        width: 30px;
        height: 16px;
        position: relative;
        cursor: pointer;
        z-index: 9999999;
        display: block;

        @include respond-to($tablet-portrait) {
            margin-right: 15px;
        }

        span {
            width: 100%;
            height: 2px;
            border-radius: 3px;
            background-color: #000;
            display: block;
            @include transition(.3s);

            &:nth-child(1) {
                position: absolute;
                right: 0;
                top: 0;
            }

            &:nth-child(2) {
                position: absolute;
                right: 0;
                top: 8px;
            }

            &:nth-child(3) {
                position: absolute;
                right: 0;
                top: 16px;
            }
        }

        &.click {
            span {
                &:nth-child(1) {
                    top: 50%;
                    transform: rotate(-45deg);
                }

                &:nth-child(3) {
                    top: 50%;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }
            }
        }
    }

}

.menuList {
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 90;
    width: 100vw;
    height: 100vh;
    background: #131316;
    transition: all .3s ease-in-out;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    @include respond-to($tablet-portrait) {
        // display: none;
        width: 100%;
    }

    &.open {
        left: 0;
        opacity: 1;
    }

    &::before {
        content: '';
        background-image: url(../images/razor.png);
        position: absolute;
        width: 400px;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        top: -10%;
        left: 5%;
        transform: rotate(-24deg);
        opacity: .3;
    }

    &::after {
        content: '';
        background-image: url(../images/bottle.png);
        position: absolute;
        width: 415px;
        height: 310px;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        right: 7%;
    }

    .text {
        color: #fff;
        position: absolute;
        top: 10%;
        text-align: center;
    }

    .block {
        justify-content: center;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        width: 80%;

        @include respond-to($tablet-portrait) {
            flex-flow: column;
            position: relative;
            z-index: 100;
        }

        li {
            position: relative;
            width: auto;
            @extend .flex;
            justify-content: center;
        }

        a {
            font: 1.222em $playfair;
            color: #fff;
            // height: 70px;
            padding: 0 25px;
            @extend .flex;

            @include respond-to($interval) {
                padding: 0 15px;
            }

            @include respond-to($tablet-portrait) {
                margin: 0 0 1em;
            }

            &:hover {
                opacity: .7;
            }
        }

        @include respond-to($tablet-portrait) {
            height: auto;

            li {
                display: flex;
                justify-content: center;
                width: 100%;
                height: auto;

                a {
                    height: auto;
                    padding: 10px 25px;
                }
            }
        }
    }
}