$brand1: #E7E7E7;
$brand2: #B5B5B5;
$brand3: #000;
$second1: #333;
$second2: #494949;

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

$playfair: 'Playfair Display';
$dance: 'Dancing Script';
$raleway: 'Montserrat';
$lora: 'Lora';

$menuWidth: 105px;